
body{
  background-color: #EAF6F6;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: skyblue;
  border-width: 4px;
  width: 5%;
}
*

.table-data{
  background: ;
  display: flex;
  margin-top: 1px;
}
.table-data1{
  flex-basis: 0%;
  padding: 45px 60px;
  align-items: flex-end;
  margin-left: 150px;
}
.table-data2{
  flex-basis: 20%;
  padding: 90px;
  background: #EAF6F6;
  color: #;
}
.Personal-Details{
  align-items: flex-end;
  margin-left: ;
  margin-top: 1px;
  text-align: center;
}

h1{
  margin-bottom: 10px;
}
.sign{
  text-align: right;
  padding: 40px;
}
thead{
  text-shadow: 40px;
}

font-family: 'Open Sans Condensed', sans-serif;
